<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SampleApp Setup" Language="1033" Version="1.0.0.0" Manufacturer="SwinburneStudent"
	UpgradeCode="5AD6A499-06C6-4F09-AA64-D222BFFDEB56">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<MediaTemplate EmbedCab="yes" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SampleApp" />
			</Directory>
		</Directory>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="MainExecutable" Guid="5AD6A499-06C6-4F09-AA64-D222BFFDEB56">
				<File Id="SampleAppEXE" Source="$(var.SampleApp.TargetPath)" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<Feature Id="ProductFeature" Title="SampleAppSetup" Level="1">
			<ComponentRef Id="MainExecutable" />
		</Feature>
	</Product>
</Wix>